body {
    background-color: #000;
}
code {
    color: #f0f;
}
a {
    background: #000;
    color: #0f0;
    text-shadow:
        1px 1px 10px #4b4,
        1px 1px 10px #777;
    font-size: 12px;
    text-align: center;
}
textarea {
    background-color: #000;
    color: #0f0;
    border-color: #0f0;
    border-width: 1;
    box-shadow: 5px 10px #070;
}
button {
    border-color: #000;
    background-color: #0f0;
    color: #000;
}
button:hover {
    background-color: #080;
    color: #fff
}
bigglow {
    background: #000;
    color: #0f0;
    text-shadow:
        1px 1px 10px #4b4,
        1px 1px 10px #777;
    font-size: 48px;
    text-align: center;
}
smallglow {
    background: #000;
    color: #0f0;
    text-shadow:
        1px 1px 10px #4b4,
        1px 1px 10px #777;
    font-size: 12px;
    text-align: center;
}
danger {
    background: #000;
    color: #f00;
    text-shadow:
        1px 1px 10px #b44,
        1px 1px 10px #777;
    font-size: 12px;
    text-align: center;
}
select {
    -webkit-appearance: none;
    background-color: #000;
    color: #0f0;
    border-color: #0f0;
}
img {
    filter: invert(100%);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-color: #444;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0f0;
  cursor: pointer;
}
