body {
    background-color: #fff;
}
code {
    color: #007;
}
a {
    background: #fff;
    color: #000;
    text-shadow:
        1px 1px 10px #444,
        1px 1px 10px #777;
    font-size: 12px;
    text-align: center;
}
textarea {
    background-color: #fff;
    color: #000;
    border-color: #000;
    border-width: 1;
    box-shadow: 5px 10px #777;
}
button {
    border-color: #000;
    background-color: #fff;
    color: #000;
}
button:hover {
    background-color: #004;
    color: #fff;
}
bigglow {
    background: #fff;
    color: #000;
    text-shadow:
        1px 1px 10px #444,
        1px 1px 10px #777;
    font-size: 48px;
    text-align: center;
}
smallglow {
    background: #fff;
    color: #000;
    text-shadow:
        1px 1px 10px #444,
        1px 1px 10px #777;
    font-size: 12px;
    text-align: center;
}
danger {
    background: #fff;
    color: #f00;
    text-shadow:
        1px 1px 10px #b44,
        1px 1px 10px #777;
    font-size: 12px;
    text-align: center;
}
select {
    -webkit-appearance: none;
    background-color: #fff;
    color: #000;
    border-color: #000;
}
